/************************
GENERAL
************************/

a {
	text-decoration: none;
}

body {
	background: url(../img/websitetextureBG.jpg);
}

hr {
	max-width: 900px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h2 {
	font-family: 'Montserrat', serif;
	font-size: 14px;
	font-weight: 400;
}

h3 {
	font-family: 'Montserrat', serif;
	font-size: 14px;
	font-weight: 400;
}

p {
	font-size: 13px;
}

#wrapper {
	max-width: 1024px;
	margin: 0 auto;
}



/************************
HEADER
************************/

.slider {
	margin-bottom: 15px;
	width: 100%;
}

.slider img {
	width: 100%;
}



/************************
SOCIAL BAR
************************/

#social {
	z-index: 10;
	position: absolute;
	margin-top: -65px;
	right: 20px;
}

.icon {
	display: inline-block;
	height: 25px;
	margin: 10px 8px;
}

/************************
NAVIGATION
************************/

nav {
	max-width: 1024px;
	padding: 0;
	height: 22px;
	margin-bottom: 100px;
}

nav ul {
	margin-left: 6%;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0;
	padding: 0 4%;
	font-family: 'Montserrat', serif;
	font-weight: 400;
	font-size: 14px;
	float: left;
	border-right: 2px solid black;
}

nav li:last-child {
	border-right: 0;
}

nav a {
	color: #000;
}

nav a:hover {
	color: #B93E40;
}

/************************
PAGE: HOME
************************/
#news {
	float: left;
	max-width: 55%;
}

#news img{
	max-width: 75%;	
	margin: 20px 0 10px 0;
}

#news h3 {
	font-weight: bold;
}

#news a {
	font-family: 'Montserrat', serif;
}

#twitter {
	margin: 50px 0;
}

#instagram {
	float: right;
	max-width: 45%;
}

#instagram h2 {
	text-align: center;
	font-size: 14px;
	padding-right: 4px;
}

#instagram ul {
	list-style: none;
	padding: 0;
}

#tour {
	font-size: 13px;
}

#blog_button a {
	text-decoration: none;
	color: #000;
}

/************************
PAGE: TOUR DATES
************************/



/************************
PAGE: ABOUT
************************/

#about-photo {
	max-width: 35%;
	padding-left: 12.5%;
	margin-bottom: 125px;
	float: left;
}

#about-text {
	max-width: 35%;
	padding-right: 13%;
	float: right;
}


/************************
PAGE: MEDIA
************************/

#insta {
	max-width: 50%;
	float: left;
}

#insta h2, #youtube h2, #soundcloud h2 {
	text-align: center;
	padding-bottom: 15px;
	font-family: 'Montserrat', serif;
}

#youtube {
	float: right;
	width: 50%;
}

#soundcloud {
	margin-bottom: 30px;
	margin-top: 20px;
}



/************************
PAGE: CONTACT
************************/

#contact-info {
	text-align: center;
	margin-bottom: 200px;
}

#contact-info p {
	padding-top: 20px;
}

#contact-info a {
	color: #C25455;
}


/************************
FOOTER
************************/

footer {
	width: 100%;
	clear: both;
	text-align: center;
	line-height: 10px;
}

footer hr {
	max-width: 900px;
}