/************************
GENERAL
************************/

a {
	text-decoration: none;
}

hr {
	max-width: 900px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h2 {
	font-family: 'Montserrat', serif;
	font-size: 14px;
	font-weight: 400;
	margin-top: 0;
}

h3 {
	font-family: 'Montserrat', serif;
	font-size: 14px;
	font-weight: 400;
}

p {
	font-size: 13px;
	font-family: Verdana, sans-serif;
	color: rgb(119, 120, 126);
}

#break {
	height: 50px;
	clear: both;
}


/************************
HEADER
************************/

.slider {
	width: 100%;
	margin-bottom: 40px;
}

.slider img {
	width: 100%;
}



/************************
SOCIAL BAR
************************/

#social {
	z-index: 10;
	position: absolute;
	margin-top: -77px;
	right: 20px;
}

.icon {
	display: inline-block;
	height: 22px;
	margin: 10px 8px;
}

/************************
NAVIGATION
************************/

#nav-container {
	position: relative;
}

nav {
	position: absolute;
	left: 0;
	top: 0;
	width: 120px;
}

nav ul {
	padding: 0;
	margin-top: 0;
}
	
nav ul li:first-child {
	margin-top: 0;
}

nav ul a:hover {
	text-decoration: none;
}

.menu {
	display: block;
	font-family: 'Montserrat', serif;
	font-weight: normal;
	font-size: 14px;
	width: 100%;
	height: 33px;
	text-align: center;
	margin: 2px 0;
	background: #46566A;
	padding: 0 5px;
	padding-top: 7px;
	letter-spacing: 1px;
}

.menu:hover {
	background-color: #CCC;
	color: #FFF;
}

.active {
	background-color: #CCC;
}

nav a {
	color: #FFF;
}

.fixed {
	position: fixed !important;
	top: 0;
	left: 0;
}

#slide-nav, #nav-toggle {
	display: none;
}


/************************
PAGE: HOME
************************/

#news img{
	max-width: 75%;	
	margin: 20px 0 10px 0;
}

#news h3 {
	font-weight: bold;
}

#news a {
	font-family: Verdana, serif;
	font-size: 13px;
	color: rgb(119, 120, 126);
}

#news p {
	white-space: pre-wrap;
}

#news hr {
	color: #000;
	background-color: #000;
	border: none;
	height: 1px;
}

#post {
	padding: 10px;
	background-color: #FFF;
}

#twitter {
	margin: 50px 0;
}

#instagram iframe {
	margin: 0 auto;
  display: block;
}

#instagram h2 {
	text-align: center;
	font-size: 14px;
	padding-right: 4px;
}

#instagram ul {
	list-style: none;
	padding: 0;
}

#tour {
	font-size: 13px;
}

#blog_button a {
	text-decoration: none;
	color: #000;
}

/************************
PAGE: TOUR DATES
************************/

#tour-dates {
	width: 90%;
	float: right;
}


/************************
PAGE: ABOUT
************************/

#about-photo {
	max-width: 27%;
	padding-left: 10%;
	margin-bottom: 125px;
	float: right;
	margin-right: 35px;
}

#about-text {
	max-width: 30%;
	padding: 10px;
	margin-right: 15%;
	float: right;
	background-color: #fff;

}


/************************
PAGE: MEDIA
************************/

#media {
	display: inline-block;
	float: right;
	width: 80%;
	margin-right: 5%;
}

.media_block {
	padding: 25px 0;
}

#soundcloud {
	padding-top: 0;
}



/************************
PAGE: CONTACT
************************/

#contact-info {
	text-align: center;
	margin-bottom: 200px;
	float: right;
	width: 90%;
}

#contact-info p {
	padding-top: 20px;
}

#contact-info a {
	color: #C25455;
}


/************************
FOOTER
************************/

footer {
	width: 100%;
	clear: both;
	background: url(../img/footer.jpg);
}

#footer_wrapper {
	width: 80%;
	margin: 0 auto;

}

.footer_column {
	width: 30%;
	margin: 0 auto;
	text-align: center;
}

.email {
	float: left;
}

.sign_up {
	float: right;
}

#copyright {
	width: 100%;
	clear: both;
	text-align: center;
	border-top: 1px solid white;
}

#copyright p {
	margin: 0;
	padding: 3px 0;
}

#copyright a {
	color: #C25455;
}

#mc_embed_signup {
	clear: left; 
	font: 14px Verdana,Arial,sans-serif;  
	width: 325px;
	padding-top: 50px;
}

#mc_embed_signup label {
	color: #FFF;
	font-family: 'Montserrat', serif;
	font-size: 14px;
}

#mc-embedded-subscribe {
	float: right;
}

#footer_social {
	display: inline-block;
	margin-bottom: 20px;
}