/************************
GENERAL
************************/

a {
	text-decoration: none;
}

body {
	background-color: #FFF;
}

hr {
	max-width: 400px;
	margin-top: 4px;
	margin-bottom: 4px;
	border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h2 {
	font-family: 'Montserrat', serif;
	font-size: 14px;
	font-weight: 400;
}

h3 {
	font-family: 'Montserrat', serif;
	font-size: 14px;
	font-weight: 400;
}

p {
	font-size: 13px;
}

#wrapper {
	max-width: 1073px;
	margin: 0 auto;
}



/************************
HEADER
************************/

#logo {
	max-width: 1073px;
	margin-top: 20px;
	pointer-events: none;
}

/************************
NAVIGATION
************************/

nav {
	max-width: 1073px;
	padding: 0;
	margin: 20px 0;
	height: 22px;
}

nav ul {
	margin: 0;
	margin-left: 9%;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0;
	padding: 0 4%;
	font-family: 'Montserrat', serif;
	font-weight: 400;
	font-size: 14px;
	border-right: 2px solid black;
	float: left;
}

nav li:last-child {
	border-right: 0;
}

nav a {
	color: #000;
}

nav a:hover {
	color: #C25455;
}



/************************
NEWS
************************/
#news {
	float: left;
	max-width: 55%;
	margin-top: 30px 0 0 0;
}

#news img{
	max-width: 75%;	
	margin: 20px 0;
}

#news h3 {
	font-weight: bold;
}



/************************
INSTAGRAM
************************/

#instagram {
	float: right;
	max-width: 45%;
	margin: 18px 0 0 0;
}

#instagram h2 {
	text-align: center;
	font-size: 14px;
	padding-right: 4px;
}

#instagram ul {
	list-style: none;
	padding: 0;
}



/************************
TOUR
************************/

#tour {
	font-size: 13px;
}

/************************
PAGE: TOUR DATES
************************/

#tour-dates {
	margin-top: 65px;
}


/************************
PAGE: ABOUT
************************/

#about-photo {
	max-width: 35%;
	padding-left: 12.5%;
	margin-top: 80px;
	margin-bottom: 125px;
	float: left;
}

#about-text {
	max-width: 35%;
	padding-right: 13%;
	margin-top: 65px;
	float: right;
}


/************************
PAGE: MEDIA
************************/

#media {
	max-width: 50%;
	float: left;
	margin: 65px 0 200px 0;
}

#media h2 {
	text-align: center;
	padding-bottom: 15px;
}



/************************
PAGE: CONTACT
************************/

#contact-info {
	text-align: center;
	margin-top: 65px;
	margin-bottom: 200px;
}

#contact-info p {
	padding-top: 20px;
}

#contact-info a {
	color: #C25455;
}


/************************
SOCIAL BAR
************************/

#social {
	position: fixed;
	right: 0;
	top: 142px;
	width: 50px;
	height: 420px;
	background-color: rgba(0, 0, 0, 0.8);
}

.icon {
	height: 35px;
	margin: 7px 10px;

}


/************************
FOOTER
************************/

footer {
	width: 100%;
	clear: both;
	text-align: center;
	background-color: #FFF;
	line-height: 10px;
}

footer hr {
	max-width: 1073px;
}