
<div id="contact-info" class="col-xs-12">
	<h2>CONTACT INFORMATION</h2><br>
	<p class="contact">MANAGEMENT: PAT MAGNARELLA - <a href="mailto:pat@pmmla.com" >pat@pmmla.com</a></p><br>
	<hr>
	<p class="contact">BOOKING: DAVID LEVINE - <a href="mailto:dlevine@wmeentertainment.com">chris@pmmla.com</a></p><br>
	<hr>
	<p class="contact">LEGAL: RICHARD GRABEL - <a href="mailto:rgrabel@davisshapiro.com">rgrabel@davisshapiro.com</a></p><br>
	<hr>
	<p class="contact">MERCH INQUIRIES: <a href="mailto:theworkdayrelease@gmail.com">theworkdayrelease@gmail.com</a></p>
</div>