<div id="instagram">
	<h2>INSTAGRAM</h2>
	<!-- SnapWidget -->
	<iframe src="http://snapwidget.com/in/?u=dGhld29ya2RheXJlbGVhc2V8aW58OTB8NHwzfHxub3w1fGZhZGVPdXR8b25TdGFydHx5ZXM=&v=23714" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:380px; height:285px"></iframe>
	<h2>TWITTER</h2>
	<a class="twitter-timeline" href="https://twitter.com/workdayrelease" data-widget-id="354002219932188672">Tweets by @workdayrelease</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<h2>UPCOMING TOUR DATES</h2>
	<ul id="tour">
		<li>8/15/2014 : The Grove | Anaheim, CA</li>
		<li>8/17/2014 : The Viper Room | Los Angeles, CA</li>
		<li>8/18/2014 : The Greek | Los Angeles, CA</li>
		<li>8/20/2014 : House of Blues | Anaheim, CA</li>
	</ul>
</div><br>

<div id="news">
	
</div>